/* Default light mode */
:root {
  --background: #F2F2F2;
  --foreground: #0a0a0a;
}

/* Dark mode */
[data-theme="dark"] {
  --background: #171717;
  --foreground: #F2F2F2;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }
  .element {
    font-size: 16px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 200vh;
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  height: 100vh;
}

#hero-title {
  position: sticky;
  font-size: 350px;
  line-height: 72px;
  font-weight: 700;
  text-align: center;
  z-index: 1;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 50px;
}

#hero-image {
  border-radius: 2%;
  z-index: 3;
  position: absolute;
}
